In [2]:
import sys
sys.path.append("..")
import os
from pathlib import Path
from MetaLifeLongLanguage.datasets.text_classification_dataset import AGNewsDataset

%load_ext autoreload
%autoreload 2

In [3]:
DATA_PATH = Path("../data/ag_news_csv/")

In [4]:
file = DATA_PATH / "train.csv"

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
import pandas as pd

In [13]:
df = pd.read_csv(file)

In [7]:
data = pd.read_csv(file, header=None, sep=',', names=['labels', 'title', 'description'],
                    index_col=False)
data['text'] = data['title'] + '. ' + data['description']
data['labels'] = data['labels'] - 1
data.drop(columns=['title', 'description'], inplace=True)
data.dropna(inplace=True)

In [23]:
data

        labels                                               text
0            2  Wall St. Bears Claw Back Into the Black (Reute...
1            2  Carlyle Looks Toward Commercial Aerospace (Reu...
2            2  Oil and Economy Cloud Stocks' Outlook (Reuters...
3            2  Iraq Halts Oil Exports from Main Southern Pipe...
4            2  Oil prices soar to all-time record, posing new...
...        ...                                                ...
119995       0  Pakistan's Musharraf Says Won't Quit as Army C...
119996       1  Renteria signing a top-shelf deal. Red Sox gen...
119997       1  Saban not going to Dolphins yet. The Miami Dol...
119998       1  Today's NFL games. PITTSBURGH at NY GIANTS Tim...
119999       1  Nets get Carter from Raptors. INDIANAPOLIS -- ...

[120000 rows x 2 columns]

In [8]:
MAX_VAL_SIZE = 5000

In [9]:
MAX_TRAIN_SIZE = 115000

In [10]:
MAX_TEST_SIZE = 7600

In [11]:
train, val = train_test_split(data, train_size=MAX_TRAIN_SIZE, test_size=MAX_VAL_SIZE, random_state=42)

In [34]:
train

        labels                                               text
7168         3  Flying the Sun to Safety. When the Genesis cap...
29618        2  Stocks Seen Flat as Nortel and Oil Weigh.  NEW...
101425       1  Inter Milan seeks redemption win against Juven...
20441        2  Saudi Arabia cuts oil prices. Oil prices eased...
2662         0  Google Cuts Its IPO Price Range. SAN JOSE, Cal...
20371        2  FOCUS: Santander Says HBOS Counterbid To Face ...
108151       3  HP Revises Cluster Plans. HP (Quote, Chart) is...
15315        3  Manugistics Fires Its President. Manugistics G...
23538        0  US genocide charge is Bush election ploy - Sud...
113198       3  Netflix CEO Rates Blockbuster, Amazon Threats ...

In [13]:
p = Path(os.getcwd()).parent / "data"

In [41]:
train = AGNewsDataset(p, "train", reduce=True)
val = AGNewsDataset(p, "val", reduce=True)
test = AGNewsDataset(p, "test", reduce=True)

In [27]:
train[0]

('williams contacts dolphins but says he #39;s headed for india. retired running back ricky williams says he contacted the miami dolphins this week at the request of his agent but has no plans to rejoin the team anytime soon.',
 1)

In [31]:
from MetaLifeLongLanguage.datasets.utils import get_dataset

In [42]:
[get_dataset(p, i) for i in range(5)]

[(<MetaLifeLongLanguage.datasets.text_classification_dataset.AGNewsDataset at 0x15193c0a6d10>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.AGNewsDataset at 0x15193bc2c6d0>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.AGNewsDataset at 0x15193c4a7e10>),
 (<MetaLifeLongLanguage.datasets.text_classification_dataset.AmazonDataset at 0x15193c4a77d0>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.AmazonDataset at 0x15193c4a7e90>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.AmazonDataset at 0x151937e07fd0>),
 (<MetaLifeLongLanguage.datasets.text_classification_dataset.YelpDataset at 0x151937e07c10>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.YelpDataset at 0x151937e05150>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.YelpDataset at 0x151937e051d0>),
 (<MetaLifeLongLanguage.datasets.text_classification_dataset.DBPediaDataset at 0x15192ba4aed0>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.DBPediaDataset at 0x15192ba4afd0>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.DBPediaDataset at 0x1519290e6f10>),
 (<MetaLifeLongLanguage.datasets.text_classification_dataset.YahooAnswersDataset at 0x1519290e6e90>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.YahooAnswersDataset at 0x1519290e6e10>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.YahooAnswersDataset at 0x15190c858b90>)]

In [44]:
datasets

[(<MetaLifeLongLanguage.datasets.text_classification_dataset.AGNewsDataset at 0x15193c0a6d10>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.AGNewsDataset at 0x15193bc2c6d0>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.AGNewsDataset at 0x15193c4a7e10>),
 (<MetaLifeLongLanguage.datasets.text_classification_dataset.AmazonDataset at 0x15193c4a77d0>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.AmazonDataset at 0x15193c4a7e90>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.AmazonDataset at 0x151937e07fd0>),
 (<MetaLifeLongLanguage.datasets.text_classification_dataset.YelpDataset at 0x151937e07c10>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.YelpDataset at 0x151937e05150>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.YelpDataset at 0x151937e051d0>),
 (<MetaLifeLongLanguage.datasets.text_classification_dataset.DBPediaDataset at 0x15192ba4aed0>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.DBPediaDataset at 0x15192ba4afd0>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.DBPediaDataset at 0x1519290e6f10>),
 (<MetaLifeLongLanguage.datasets.text_classification_dataset.YahooAnswersDataset at 0x1519290e6e90>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.YahooAnswersDataset at 0x1519290e6e10>,
  <MetaLifeLongLanguage.datasets.text_classification_dataset.YahooAnswersDataset at 0x15190c858b90>)]

In [39]:
train[0][0]

'williams contacts dolphins but says he #39;s headed for india. retired running back ricky williams says he contacted the miami dolphins this week at the request of his agent but has no plans to rejoin the team anytime soon.'